@import 'sass-bootstrap/lib/bootstrap';
@import 'sass-bootstrap/lib/responsive';
@import 'storify_variables';
@import 'storify';

body {
    font-family: $bodyFont;
    font-size: 18px;
    font-smoothing: antialiased;
}