@import 'sass-bootstrap/lib/bootstrap';
@import 'sass-bootstrap/lib/responsive';
@import 'flat-ui/sass/flat-ui';

body {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 18px;
    font-smoothing: antialiased;
}

header {
    margin-top: 20px;
}

.app-logo {
    font-family: 'Lato', sans-serif;
}

#ampersand {
    font-size: 720%;
    margin-left: 43px;
    color: $danger;
}

#hire-me {
    font-family: 'Lato', sans-serif;
}

.page-header {
    margin-top: 51px;
}

// Scorescards
#pageviews {
    font-size: 300%;
}