@import 'sass-bootstrap/lib/bootstrap';
@import 'sass-bootstrap/lib/responsive';
@import 'font-awesome/sass/font-awesome.scss';
@import 'flat-ui/sass/flat-ui';

body {
    border-top: 5px solid $base;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 18px;
    font-smoothing: antialiased;
}

header {
    margin-top: 20px;
}

footer {
    #storify-footer-logo {
        background: url("../images/embed-header-logo.png") 0px -20px no-repeat;
        display: inline-block;
        margin: 2px;
        overflow: hidden;
        padding-bottom: 2px;
        width: 79px;

        em {
            visibility: hidden;
        }
    }
}

.app-logo {
    font-family: 'Lato', sans-serif;
}

#ampersand {
    font-size: 720%;
    margin-left: 43px;
    color: $danger;
}

#hire-me {
    font-family: 'Lato', sans-serif;
}

.page-header {
    margin-top: 51px;
}

// Scorescards
#pageviews {
    //font-size: 300%;
}

hr {
    margin-bottom: 50px;
    padding-bottom: 52px;
}

.meta {
    margin-top: 8px;
    li {
        color: $danger;
        margin-bottom: 10px;
    }
}

.inline {
    li:nth-child(1), li:nth-child(2) {
        border-right: 1px solid $gray;
        padding-right: 8px;
    }
}